# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Spyder project settings
.spyderproject
.spyproject

# Confidential files
my_eikon_key.py
gitignore_template.txt